@import "./project-header";

#project {
    .container {
        margin: 50px auto;
    }

    .img-container {
        width: 100%;
        height: 350px;
        background-position: center;
        background-size: cover;
    }
}