#project {
    .socials {
        opacity: 0;
    }

    .project-header {
        height: 400px;
        position: relative;
        background-size: cover;
        background-position: center;

        .filter {
            background: #0f4567c7;
            position: absolute;
            height: 100%;
            width: 100%;
        }

        span {
            position: absolute;
            bottom: 110px;
            left: 0;
            right: 0;
            max-width: 1200px;
            margin: auto;
            color: white;
        }

        h1 {
            color: white;
            font-family: $primary-font;
            font-size: 5em;
            position: absolute;
            bottom: 15px;
            left: 0;
            right: 0;
            max-width: 1200px;
            margin: auto;
        }

        svg {
            width: 13px;
            height: 13px;
            fill: white;
            margin-right: 7px;
            margin-bottom: -1px;
        }

        a:hover svg {
            animation: arrow-hover 0.5s linear infinite alternate;
        }

        @keyframes arrow-hover {
            from {
                transform: translateX(0);
            }

            to {
                transform: translateX(-5px);
            }
        }

    }

    a {
        color: white !important;

        &::before {
            background-color: #cfdae029;
        }

    }

    .fixed a {
        color: black !important;
    }
}