footer {
    background: #1F73AA;
    position: absolute;
    width: 100%;
    left: 0;
    color: white;
    height: 120px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;

    a {
        color: white;

        &:hover {
            color: $light-blue;
        }
    }

    &>div {
        margin: 8px 0px;
    }

    .footer-socials {
        width: 100px;
        display: flex;
        justify-content: space-around;

        svg {
            width: 15px;
            height: 15px;
            fill: white;

            &:hover {
                fill: $light-blue;
            }
        }
    }
}