nav {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    // position: fixed;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;

    a {
        color: white;
        text-decoration: none;
        font-family: $primary-font;
        position: relative;
        font-size: 1.1em;
        transition: color 1s;

        .secondary & {
            color: black;
        }

        &:hover {
            transition: color 0.5s ease-in;
        }

        &::before {
            position: absolute;
            content: "";
            height: 10px;
            width: 0;
            z-index: -1;
            left: -20px;
            bottom: -2px;
            opacity: 0;
            background-color: #ffffff33;
            transition: opacity 1s ease, width 1s ease;
        }

        .secondary &::before {
            background-color: $pale-blue;
        }

        &.active::before,
        &:hover::before {
            opacity: 1;
            width: 100%;
        }
    }
}