section.projects {
    animation: 2s ease 0s 1 slideInFromBottom;

    @keyframes slideInFromBottom {
        0% {
            // transform: translateY(100%);
            opacity: 0;
        }

        100% {
            // transform: translateY(0);
            opacity: 1;
        }
    }

    &.featured {
        .project {
            display: flex;
            margin-bottom: 75px;
            height: 300px;
            justify-content: space-between;

            // &>div {
            //     width: 50%;
            // }

            @media only screen and (max-width: 576px) {
                flex-direction: column-reverse;
                height: 100%;
            }

            .content {
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 50%;

                @media only screen and (max-width: 576px) {
                    width: 100%;
                    margin-top: 20px;
                }
            }

            .img-container {
                overflow: hidden;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 60%;

                @media only screen and (max-width: 576px) {
                    width: 100%;
                    height: 200px;
                }

                img {
                    width: 100%;
                    // box-shadow: 5px 5px 9px #cfdae0;

                    @media only screen and (max-width: 768px) {
                        width: 200%;
                    }
                }
            }
        }
    }

    .content {
        h6 {
            color: #BCBCBC;
            font-size: 0.9em;
            // margin-bottom: 10px;
            margin-bottom: 10px;
        }

        h2 {
            font-size: 1.3em;
            color: $dark-blue;


            a {
                color: $dark-blue;

                &:hover {
                    color: $almost-white;
                }
            }
        }

        p {
            margin: 25px 0;
            padding-right: 110px;

            @media only screen and (max-width: 1000px) {
                padding-right: 50px;
            }

            @media only screen and (max-width: 576px) {
                padding-right: 0;
            }
        }

        span {
            display: block;
            color: #35698A;
            font-size: 0.9em;
            // margin-bottom: 15px;
            margin-bottom: 10px;
        }

        &>a {
            color: $dark-blue;
            font-size: 0.9em;
            border-left: 3px solid #cfdae0;
            padding-left: 5px;

            &:hover {
                color: $almost-white;
            }
        }
    }

    .projects-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        position: relative;

        .project {
            // width: 28%;
            width: 350px;
            height: 200px;
            margin-bottom: 60px;
            display: flex;
            align-items: center;
            justify-content: center;

            @media only screen and (max-width: 768px) {
                width: 48%;
                height: 180px;
                margin-bottom: 25px;
            }

            @media only screen and (max-width: 576px) {
                width: 100%;
                height: 200px;
            }

            .content {
                opacity: 0;
                position: absolute;
                width: 330px;
                height: 180px;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                z-index: 1;
                color: white;
                // background-color: #052c3deb;
                padding: 10px;
                transition: opacity 1s;

                @media only screen and (max-width: 768px) {
                    width: 312px;
                    height: 160px;
                    opacity: 0.8 !important;
                }

                @media only screen and (max-width: 576px) {
                    // width: 94%;
                    width: 100%;
                    width: -moz-available;          /* WebKit-based browsers will ignore this. */
                    width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
                    width: fill-available;
                    height: 180px;
                }

                &:hover {
                    opacity: 1;
                }

                h6,
                span,
                &>a {
                    color: #CFDAE0;
                }

                h2 a {
                    color: white;
                }

                p {
                    padding: 0;
                }
            }

            .img-container {
                height: inherit;
                overflow: hidden;
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                width: 100%;

                // &::after {
                //     position: absolute;
                //     content: "";
                //     background: #052c3deb;
                //     height: 100%;
                //     width: 100%;
                // }

                img {
                    width: 200%;
                }
            }
        }
    }
}