#ready-to-chat {
    // background: $dark-blue;
    // color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 250px;
    width: 100%;

    &>* {
        margin: 8px 0;
    }

//     a {
//         border-color: $dark-blue;
// color: $dark-blue;
//     }

}