.socials {
    position: fixed;
    right: 40px;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    z-index: 1;
    opacity: 1;
    transition: opacity 1.5s;

    @media only screen and (max-width: 1400px) {
        right: 3%;
    }

    svg {
        fill: white;
        width: 20px;
        height: 20px;

        .secondary & {
            fill: black;
        }

        &:hover {
            fill: $dark-blue !important;
        }
    }

    &.hide svg {
        fill: #082c4036;
    }


    @media only screen and (max-width: 768px) {
        display: none;
    }
}