section#testimonials {
    background: #262626;
    color: white;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .three-columns {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;

        .column {
            width: 250px;
            padding: 5px;
            text-align: center;
            height: 110px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }

    &>* {
        margin: 8px 0;
    }

}