@import './reset';

// colors
$dark-blue: #0F4567;
$light-blue: #6D9EAB;
$aqua: #7AACB3;
$almost-white: #99BFC5;
$pale-blue: #CFDAE0;

// fonts
$primary-font:'Yeseva One',
cursive;
$body-font:'Rosario',
sans-serif;

// imports
@import './container';
@import './menu';
@import './socials';
@import './heading';
@import './projects';
@import './components/project';
@import './about';
@import './services';
@import './steps';
@import './footer';
@import './ready-to-chat';
@import './testimonials';
@import './components/backdrop';
@import './page-transition';

// main style
body {
    font-family: $body-font;
    transition: background-color 1.5s;
    // line-height: 0;

    @media screen and (max-width: 834px) {
        margin-top: 100px;
    }

    ::selection {
        background: #fff;
        color: $light-blue;
    }

    &.primary {
        background-color: $aqua;
    }

    &#index {
        background-color: $aqua;
        // background-image: url(../video/blue-drop.mp4)
    }

    &.secondary {
        background-color: white !important;

        ::selection {
            background: $dark-blue;
            color: white;
        }
    }
}

a {
    color: inherit;
    text-decoration: none;
    transition: color 1s;
}

svg {
    transition: fill 1s;
}

p {
    line-height: 1.5;

    &+p {
        margin-top: 20px;
    }
}

h3 {
    font-size: 2em;
    font-family: $primary-font;
    color: $dark-blue;
    margin-bottom: 10px;
}

h4 {
    font-size: 1.6em;
    font-family: $primary-font;
    color: $dark-blue;
}

h5 {
    font-size: 1.4em;
    margin-bottom: 15px;
    color: $dark-blue;
}

h6 {
    font-size: 0.9em;
}



/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

hr {
    width: 100%;
    height: 5px;
    margin: 20px 0;
    border-width: 0;
    background-color: $almost-white;
}

.branding {
    position: absolute;
    display: flex;
    margin: 15px 0 0 15px;
    height: 37px;

    img {
        width: 50px;
    }

    .name {
        display: flex;
        flex-direction: column;
        font-family: $primary-font;
        color: $dark-blue;
        font-size: 1.1em;
        justify-content: space-between;
        margin-left: 10px;

        & span:nth-child(1) {
            color: white;
        }
    }
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;

    @media screen and (max-width: 834px) {
        height: 100%;
    }

    .inner-container {
        // text-align: center;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media screen and (max-width: 834px) {
            flex-direction: column;
        }

    }

    .column {
        &.left {
            width: 60%; // TODO: put back to 50% and enable right
            // padding: 50px;

            @media screen and (max-width: 834px) {
                margin-bottom: 50px;
            }
        }

        &.right {
            width: 35%;
        }

        @media screen and (max-width: 834px) {
            width: 100% !important;
        }
    }

    h1 {
        font-family: $primary-font;
        color: $dark-blue;
        font-size: 3em !important;
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
        // margin-left: -30px;
        line-height: 55px;

        @media screen and (max-width: 834px) {
            line-height: 40px;
            margin-bottom: 0;
        }

        span:nth-child(1) {
            // margin: 15px 0;
            color: white;
            // width: fit-content;

        }

        span:nth-child(2) {
            color: white;
        }
    }

    p {
        color: $dark-blue;
        font-size: 1.6em;
        line-height: 40px;
        text-align: left;


        @media screen and (max-width: 834px) {
            font-size: 1.4em;
            line-height: 33px;
        }
    }

    img {
        // margin-bottom: 15px;
        // width: 100px;
        width: 100%;
    }
}

.square {
    position: fixed;
    height: 500px;
    width: 500px;
    background-color: $light-blue;
    z-index: -1;
    transform: rotate(20deg);
    animation: square-bg 20s linear infinite normal forwards;
    left: 0;
    bottom: 0;
    transform: rotate(20deg);
    // transition: background-color 1.5s;

    // .secondary & {
    //     background-color: $dark-blue;
    // }

    @media screen and (max-width: 834px) {
        position: absolute;
        top: 100px;
        left: -142px;
        height: 400px;
        width: 400px;
        transform: rotate(24deg);
    }


    // &.right {
    //     right: 0;
    //     top: 0;
    //     transform: rotate(160deg);
    // }
}

@keyframes square-bg {
    0% {
        background-color: $light-blue;
    }

    25% {
        background-color: $dark-blue;
    }

    50% {
        background-color: $aqua;
    }

    100% {
        background-color: $almost-white;
    }
}


.links {
    display: flex;
    align-items: center;
    // justify-content: center;   

    @media screen and (max-width: 834px) {
        flex-direction: row !important;
        justify-content: center;
    }

    a {
        color: white;
        padding: 15px 40px;
        // margin-right: 20px;
        // margin-top: 10px;
        border: 2px solid white;
        border-radius: 4px;
        transition: background-color 1s, border-color 1s, color 1s;
        font-family: $primary-font;
        font-size: 1.1em;

        @media screen and (max-width: 834px) {
            width: 100%;
            text-align: center;
        }

        &+a {
            margin-left: 20px;
        }

        &.primary {
            background-color: $dark-blue;
        }

        body.secondary &.secondary {
            color: black;
            border: 2px solid black;
        }

        &:hover {
            background-color: darken($dark-blue, 5%);
            color: white !important;
            border: 2px solid #1c69a7 !important;
        }
    }

    &.small a {
        padding: 12px 20px;
    }
}

.two-columns {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: 834px) {
        flex-direction: column;
        height: 100%;
        // background: $dark-blue;
        // color: white;
        margin: 30px 0;
        padding: 14px;
    }

    .column {
        width: 50%;
        padding: 40px;

        @media screen and (max-width: 834px) {
            width: 100%;
            padding: 10px 0;

            &.img {
                display: none;
            }

            // a.secondary {
            //     color: white !important;
            //     border: 2px solid white !important;
            // }
        }
    }

    h2 {
        font-size: 2.5em;
        font-family: "Yeseva One", cursive;
        // margin-bottom: 15px;
    }

    p {
        font-size: 1.2em;
        margin: 15px 0;

        @media screen and (max-width: 834px) {
            font-size: 1em;
        }
    }

    img {
        width: 100%;
    }
}

#research {

    @media screen and (max-width: 834px) {
        flex-direction: column-reverse;
    }

    img {
        border: 4px solid #272727;
        border-radius: 10px;
        padding: 5px;
        background: white;
        width: 86%;
    }

    .decorative {
        color: #848484;
        // position: relative;
        // text-shadow: -5px 5px 0px #0f4567;
        animation: colour-changing 30s linear infinite alternate;

        // &::after {
        //     position: absolute;
        //     content: "";
        //     height: 11px;
        //     width: 100%;
        //     background: #212121;
        //     left: 0;
        //     bottom: 4px;
        //     z-index: -1;
        // }

        @keyframes colour-changing {
            0% {
                color: rgb(248, 88, 88);
            }

            25% {
                color: rgb(250, 200, 108);
            }

            50% {
                color: rgb(84, 107, 235);
            }

            100% {
                color: rgb(62, 209, 62);
            }
        }
    }


}

.container {
    width: 90% !important;

    h1 {
        font-size: 2em;
    }

    .links {
        // flex-direction: column;
        align-items: unset;

        // a {
        //     margin: 5px 0;
        // }
    }
}