@import './reset';

// colors
$dark-blue: #0F4567;
$light-blue: #6D9EAB;
$aqua: #7AACB3;
$almost-white: #99BFC5;

// fonts
$primary-font:'Yeseva One',
cursive;
$body-font:'Rosario',
sans-serif;

// imports
@import './menu';

// main style
body {
    background: $aqua;
    font-family: $body-font;
    // overflow: hidden;
    // overflow-x: hidden;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

::selection {
    background: #fff;
    color: $light-blue;
}

hr {
    width: 100%;
    height: 5px;
    margin: 20px 0;
    border-width: 0;
    background-color: $almost-white;
}

.branding {
    position: absolute;
    display: flex;
    margin: 15px 0 0 15px;
    height: 37px;

    img {
        width: 50px;
    }

    .name {
        display: flex;
        flex-direction: column;
        font-family: $primary-font;
        color: $dark-blue;
        font-size: 1.1em;
        justify-content: space-between;
        margin-left: 10px;

        & span:nth-child(1) {
            color: white;
        }
    }
}


main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;

    .container {
        // text-align: center;
        display: flex;
        width: 1400px;
        align-items: center;
        justify-content: center;

        .column {
            &.left {
                width: 50%;
                padding: 50px;
            }

            &.right {
                width: 35%;
            }
        }
    }

    h1 {
        font-family: $primary-font;
        color: $dark-blue;
        font-size: 3em;
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
        // margin-left: -30px;
        line-height: 50px;

        span:nth-child(1) {
            margin-left: -70px;
        }

        span:nth-child(2) {
            color: white;
        }
    }

    p {
        color: $dark-blue;
        font-size: 1.6em;
        line-height: 40px;
        text-align: left;
    }

    img {
        // margin-bottom: 15px;
        // width: 100px;
        width: 100%;
    }
}

.square {
    position: fixed;
    height: 500px;
    width: 500px;
    background: #6D9EAB;
    bottom: 0;
    left: 0;
    z-index: -1;
    transform: rotate(20deg);
}

.socials {
    position: absolute;
    right: 40px;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;

    svg {
        fill: white;
        width: 20px;
        height: 20px;
        transition: fill 1s ease;

        &:hover {
            fill: $dark-blue;
        }
    }
}

.links {
    display: flex;
    align-items: center;
    // justify-content: center;

    a {
        color: white;
        text-decoration: none;
        padding: 15px 40px;
        margin-right: 20px;
        margin-top: 10px;
        border: 2px solid white;
        border-radius: 4px;
        transition: background-color 0.5s;
        font-family: $primary-font;
        font-size: 1.1em;

        &.primary {
            background-color: $dark-blue;
        }

        &:hover {
            background-color: darken($dark-blue, 5%);
        }
    }
}

@media screen and (max-width: 576px) {
    .container {
        width: 90% !important;

        h1 {
            font-size: 2em;
        }

        .links {
            flex-direction: column;
            align-items: unset;

            a {
                margin: 5px 0;
            }
        }
    }
}