@import './reset';

// colors
$dark-blue: #0F4567;
$light-blue: #6D9EAB;
$aqua: #7AACB3;
$almost-white: #99BFC5;
$pale-blue: #CFDAE0;

// fonts
$primary-font:'Yeseva One',
cursive;
$body-font:'Rosario',
sans-serif;

// imports
@import './container';
@import './menu';
@import './socials';
@import './heading';
@import './projects';
@import './footer';
@import './ready-to-chat';
@import './testimonials';
@import './transitions';
// @import './page-transition';

// main style
body {
    font-family: $body-font;
    transition: background-color 1.5s;
    // line-height: 0;

    ::selection,
    .hero-span {
        background: #fff;
        color: $light-blue;
    }

    &#index,
    &.primary {
        background-color: $aqua;
    }

    &.secondary {
        background-color: white !important;

        ::selection,
        .hero-span {
            background: $dark-blue;
            color: white;
        }
    }
}

a {
    text-decoration: none;
}

h3 {
    font-size: 2em;
    font-family: $primary-font;
}

h6 {
    font-size: 0.9em;
}

.hero-span {
    width: fit-content;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

hr {
    width: 100%;
    height: 5px;
    margin: 20px 0;
    border-width: 0;
    background-color: $almost-white;
}

.branding {
    position: absolute;
    display: flex;
    margin: 15px 0 0 15px;
    height: 37px;

    img {
        width: 50px;
    }

    .name {
        display: flex;
        flex-direction: column;
        font-family: $primary-font;
        color: $dark-blue;
        font-size: 1.1em;
        justify-content: space-between;
        margin-left: 10px;

        & span:nth-child(1) {
            color: white;
        }
    }
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;

    .container {
        // text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;

        .column {
            &.left {
                width: 100%; // TODO: put back to 50% and enable right
                padding: 50px;
            }

            // &.right {
            //     width: 35%;
            // }
        }
    }

    h1 {
        font-family: $primary-font;
        color: $dark-blue;
        font-size: 3em;
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
        // margin-left: -30px;
        line-height: 50px;

        span:nth-child(1) {
            margin-left: -70px;
        }

        span:nth-child(2) {
            color: white;
        }
    }

    p {
        color: $dark-blue;
        font-size: 1.6em;
        line-height: 40px;
        text-align: left;
    }

    img {
        // margin-bottom: 15px;
        // width: 100px;
        width: 100%;
    }
}


p {
    line-height: 1.5;
}

.square {
    position: fixed;
    height: 500px;
    width: 500px;
    background-color: $light-blue;
    bottom: 0;
    left: 0;
    z-index: -1;
    transform: rotate(20deg);
    animation: square-bg 20s linear infinite normal forwards;
    // transition: background-color 1.5s;

    // .secondary & {
    //     background-color: $dark-blue;
    // }
}

@keyframes square-bg {
    0% {
        background-color: $light-blue;
    }

    25% {
        background-color: $dark-blue;
    }

    50% {
        background-color: $aqua;
    }

    100% {
        background-color: $almost-white;
    }
}


.links {
    display: flex;
    align-items: center;
    // justify-content: center;   

    a {
        color: white;
        padding: 15px 40px;
        // margin-right: 20px;
        // margin-top: 10px;
        border: 2px solid white;
        border-radius: 4px;
        transition: background-color 1s, border-color 1s, color 1s;
        font-family: $primary-font;
        font-size: 1.1em;

        &:not(:nth-child(1)) {
            margin-left: 20px;
        }

        &.primary {
            background-color: $dark-blue;
        }

        body.secondary &.secondary {
            color: black;
            border: 2px solid black;
        }

        &:hover {
            background-color: darken($dark-blue, 5%);
        }
    }

    &.small a {
        padding: 12px 20px;
    }
}

.two-columns {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;

    .column {
        width: 50%;
        padding: 40px;
    }

    h2 {
        font-size: 2.5em;
        font-family: "Yeseva One", cursive;
        // margin-bottom: 15px;
    }

    p {
        font-size: 1.2em;
        margin: 15px 0;
    }

    img {
        width: 100%;
    }
}



#research {
    img {
        border: 4px solid #272727;
        border-radius: 10px;
        padding: 5px;
        background: white;
        width: 86%;
    }

    .decorative {
        color: #848484;
        position: relative;
        // text-shadow: -5px 5px 0px #0f4567;

        &::after {
            position: absolute;
            content: "";
            height: 20px;
            width: 100%;
            background: #212121;
            left: 0;
            bottom: 0;
            z-index: -1;
        }
    }
}

@media screen and (max-width: 576px) {
    .container {
        width: 90% !important;

        h1 {
            font-size: 2em;
        }

        .links {
            flex-direction: column;
            align-items: unset;

            a {
                margin: 5px 0;
            }
        }
    }
}